
:root {
  --line-height: calc((var(--font-size) * 2) + (var(--border-radius) / 3));
}

.input {
  position: relative;


  --padding-x: calc(5px + var(--border-radius));
  --padding-y: calc(var(--border-radius));

  &.readonly {
    input {
      background-color: transparent;
    }
  }


  select {
    height: var(--line-height);
  }

  .description {
    font-size: 0.7rem;
    color: var(--color-text-brighter);
  }

  input, select {
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: calc(0.87rem);
    border-radius: var(--border-radius);
    border-width: 1px;
    border-style: none;
    padding: 0 var(--padding-x);
    background-color: var(--color-input-bg);
    box-shadow: var(--shadow-inset);
    align-items: center;
    max-width: 300px;

    &:focus {
      outline: none;
    }
  }

  textarea {
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    line-height: 1.3;
    border-width: 1px;
    border-style: none;
    padding: var(--padding-y) var(--padding-x);
    background-color: var(--color-input-bg);
    box-shadow: var(--shadow-inset);
    align-items: center;
    font-size: 0.87rem;

    &:focus {
      outline: none;
    }
  }

  .error-message {
    color: var(--color-error);
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .input {
    input {
      font-size: calc(1rem);
    }
  }
}



