$primary: #2b97b5 !default;
$accent: #ff9b70 !default;
$secondary: #6aaa4b !default;
$success: #75e5a9 !default;
$error: #fc8172 !default;
$warning: #ffbc1f !default;
$info: #9985c0 !default;
$bg-color: #e7ecee !default;
$body-bg: #cccccc !default;
$disabled: #c4c4c4 !default;
$change-percent: 8% !default;
$border-color: #c4c4c4 !default;
$text: #273f49 !default;
$shadow-color: rgba(0, 0, 0, 0.1) !default;
$widget-bg-color: #ffffff !default;
$input-bg: $widget-bg-color !default;
$white: #ffffff !default;
$dark: #000000 !default;

$primary-dark: #3783b4 !default;
$secondary-dark: #ffbd93 !default;
$accent-dark: #d73eb4 !default;
$success-dark: #1aab72 !default;
$error-dark: #d25454 !default;
$warning-dark: #f6b842 !default;
$info-dark: #7166de !default;
$white-dark: #000000 !default;
$dark-dark: #ffffff !default;
$bg-color-dark: #212529 !default;
$body-bg-dark: #212529 !default;
$disabled-dark: #c4c4c4 !default;
$change-percent-dark: 5% !default;
$input-bg-dark: darken($bg-color-dark, 5%) !default;
$border-color-dark: #c4c4c4 !default;
$text-dark: rgba(255, 255, 255, 0.87) !default;
$shadow-color-dark: rgba(0, 0, 0, 0.4) !default;
$widget-bg-color-dark: lighten($bg-color-dark, $change-percent-dark) !default;


$schemes: [('name':'light',
            'colors':(
        'primary':$primary,
        'secondary':$secondary,
        'accent':$accent,
        'success':$success,
        'error':$error,
        'warning':$warning,
        'info':$info,
        'bg':$bg-color,
        'body-bg':$body-bg,
        'disabled':$disabled,
        'widget-bg':$widget-bg-color,
        'input-bg':$input-bg,
        'border':$border-color,
        'text':$text,
        'shadow':$shadow-color,
                'white':$white,
        'dark':$dark,
),
            'root-colors':(
        'primary':$primary,
        'secondary':$secondary,
        'accent':$accent,
        'success':$success,
        'error':$error,
        'warning':$warning,
        'info':$info,
                'white':$white,
        'dark':$dark,
),
            'vars':(
        'change-percent':$change-percent
)
        ),
      (
        'name':'dark',
        'colors':(
        'primary':$primary-dark,
        'secondary':$secondary-dark,
        'accent':$accent-dark,
        'success':$success-dark,
        'error':$error-dark,
        'warning':$warning-dark,
        'info':$info-dark,
        'bg':$bg-color-dark,
        'body-bg':$body-bg-dark,
        'disabled':$disabled-dark,
        'widget-bg':$widget-bg-color-dark,
        'input-bg':$input-bg-dark,
        'border':$border-color-dark,
        'text':$text-dark,
        'shadow':$shadow-color-dark,
                'white':$white-dark,
        'dark':$dark-dark,
),
        'root-colors': (
        'primary':$primary-dark,
        'secondary':$secondary-dark,
        'accent':$accent-dark,
        'success':$success-dark,
        'error':$error-dark,
        'warning':$warning-dark,
        'info':$info-dark,
                'white':$white-dark,
        'dark':$dark-dark,
),
        'vars': (
        'change-percent':$change-percent-dark
)
        ),
];


:root {

  --color-icon: var(--color-text);


  --input-border-color: #2e2e41;
  --input-border-focus-color: #393950;

  @each $item in $schemes {


    $colors: map-get($item, 'colors');
    $root-colors: map-get($item, 'root-colors');
    $vars: map-get($item, 'vars');
    $percent: map-get($vars, 'change-percent');

    $theme: map-get($item, 'name');
    body[data-theme="#{$theme}"] {
      color-scheme: #{$theme};
      @each $key in map-keys($colors) {
        --color-#{$key}: #{map-get($colors, $key)};
        --color-#{$key}-bright: #{lighten(map-get($colors, $key), $percent)};
        --color-#{$key}-brighter: #{lighten(map-get($colors, $key), $percent * 4)};
        --color-#{$key}-dark: #{darken(map-get($colors, $key), $percent)};
        --color-#{$key}-darker: #{darken(map-get($colors, $key), $percent * 4)};

      }
      --color-input-bg: #{map-get($colors, 'input-bg')};
      --color-card-bg: #{map-get($colors, 'widget-bg')};
      --shadow: 0 0 5px 1px #{map-get($colors, 'shadow')};
      --shadow-small: 0 0 3px 1px #{map-get($colors, 'shadow')};
      --shadow-inset: inset 0 0 3px 1px #{map-get($colors, 'shadow')};

      @each $key in map-keys($root-colors) {
        --color-card-bg-#{$key}: #{map-get($root-colors,$key)};
        --color-card-bg-#{$key}-bright: #{lighten(map-get($root-colors,$key),$percent)};
        --color-card-bg-#{$key}-brighter: #{lighten(map-get($root-colors,$key),$percent * 4)};
        --color-card-bg-#{$key}-dark: #{darken(map-get($root-colors,$key),$percent)};
        --color-card-bg-#{$key}-darker: #{darken(map-get($root-colors,$key),$percent * 4)};

      }


    }

  }

}

$variations: ['bright','brighter','dark','darker'];
@each $item in $schemes {
  $colors: map-get($item, 'colors');
  $root-colors: map-get($item, 'root-colors');
  $vars: map-get($item, 'vars');
  $percent: map-get($vars, 'change-percent');
  $theme: map-get($item, 'name');
  [data-theme="#{$theme}"] {

    border-top: 1px solid #{transparentize(map-get($root-colors,'primary'), 0.5)};
    @each $color in map-keys($root-colors) {
      .bg-#{$color} {
        background-color: var(--color-#{$color});
      }
      .text-#{$color} {
        color: var(--color-#{$color});
      }
      .border-#{$color} {
        border-color: var(--color-#{$color});
      }
      @for $i from 1 through length($variations) {
        .text-#{$color}-#{nth($variations, $i)} {
          color: var(--color-#{$color}-#{nth($variations, $i)});
        }


        .bg-#{$color}-#{nth($variations, $i)} {
          background-color: var(--color-#{$color}-#{nth($variations, $i)});
        }


        .border-#{$color}-#{nth($variations, $i)} {
          border-color: var(--color-#{$color}-#{nth($variations, $i)});
        }

      }
    }
    @for $i from 1 through length($variations) {
      .bg-#{nth($variations, $i)} {
        background-color: var(--color-bg-#{nth($variations, $i)});
      }
      .text-#{nth($variations, $i)} {
        color: var(--color-text-#{nth($variations, $i)});
      }

    }

  }

}


.color-white {
  color: #ffffff !important;
}

.border {
  border-width: 1.5px;
  border-style: solid;
  box-sizing: border-box;
  border-color: var(--color-border);

  &.none {
    border-color: transparent;
  }
}


.bg {
  background-color: var(--color-bg);
}

hr {
  border: 0;
  border-top: 1px solid var(--color-secondary);
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 100%;
}
