$color1: #1f4659;
$color2: rgb(255, 159, 0);
$color3: rgb(112, 218, 64);
$color4: rgb(255, 108, 108);
$color5: rgb(164, 82, 206);
$color6: rgb(186, 186, 224);


$primary: $color1;
$accent: $color5;
$secondary: $color2;
$success: #75e5a9;
$error: #fc8172;
$warning: #ffbc1f;
$info: #9985c0;
$bg-color: #e7ecee;
$body-bg: #cccccc;
$text: #273f49;

$primary-dark: $color1;
$secondary-dark: $color2;
$accent-dark: $color5;
$success-dark: #1aab72;
$error-dark: #d25454;
$warning-dark: #f6b842;
$info-dark: #7166de;
$bg-color-dark: #212529;
$body-bg-dark: #212529;
$text-dark: rgba(255, 255, 255, 0.87);

$font-family: 'Nunito';
$border-radius: 0.4rem;
$font-size: 16px;
$font-size-mobile: 14px;

