//$tint: #5d73ff;
//
//$primary: #1f4659;
//$secondary: #ffbd93;
//$accent: #d73eb4;
//$success: #1aab72;
//$error: #fc8172;
//$warning: #ffbc1f;
//$info: #9985c0;
//$text: #273f49;
//$title: #273f49;
//$bg-color: adjust-color(#efefef,);
//
//$body-bg: darken($bg-color, 15%);
//$disabled: #c4c4c4;
//$border-color: #c4c4c4;
//
//$primary-dark: #5aa7ca;
//$secondary-dark: #ffbd93;
//$accent-dark: #d73eb4;
//$success-dark: #1aab72;
//$error-dark: #fc8172;
//$warning-dark: #ffbc1f;
//$info-dark: #9985c0;
//$bg-color-dark: #212529;
//$body-bg-dark: mix(black, $bg-color-dark, 5%);
//$text-dark: rgba(255, 255, 255, 0.90);
//$title-dark: rgba(255, 255, 255, 0.90);
//$border-color-dark: #34343a;
//$disabled-dark: #c4c4c4;
//
//$color1: $primary;
//$color2: $secondary;
//$color3: $accent;
//$color4: $info;
//$color5: $warning;
//$color6: $error;


$font-family: 'Inter';
$font-family-title: 'Roboto';
$border-radius: 0.3rem;
$font-size: 16px;
$font-size-mobile: 14px;

