:root {
  --grid-gap: var(--border-radius)
}

body {
  &.grid-debug {
    .grid {
      outline: 1px solid #d302ec;
    }
  }
}

.grid {
  box-sizing: border-box;
  display: grid;
  grid-gap: var(--grid-gap);

}

.grid > * {
  min-width: 0 !important;
  min-height: 0 !important;
  //overflow: auto;
}

.standard-grid {
  padding: var(--grid-gap);
  width: 100%;
  height: 100%;
}

.standard-grid-no-padding {
  padding: 0;
  width: 100%;
  height: 100%;
}

.grid {


  &.center-content {
    place-items: center;
  }

  &.scroll {
    overflow: auto;
  }
}

@media (min-width: 768px) {
  .row {
    grid-auto-flow: row;
    grid-auto-rows: minmax(0, 1fr);

    &.fit {
      grid-auto-rows: max-content;
    }
  }
  .col {
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);

    &.fit {
      grid-auto-columns: max-content;
    }
  }
}

.auto-col {
  grid-template-columns: repeat(auto-fill, minmax(v-bind(autoCol)));
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.auto-flow-columns {
  grid-auto-flow: column;
}

.auto-flow-rows {
  grid-auto-flow: row;
}

.grid-gap {
  grid-gap: var(--grid-gap);
}

.grid-gap-0 {
  grid-gap: 0;
}

.grid-gap-1 {
  grid-gap: 0.25rem;
}

.grid-gap-2 {
  grid-gap: 0.5rem;
}

.grid-gap-3 {
  grid-gap: 1rem;
}

.grid-gap-4 {
  grid-gap: 1.5rem;
}

.grid-gap-5 {
  grid-gap: 3rem;
}

.row-gap-0 {
  row-gap: 0;
}

.row-gap-1 {
  row-gap: 0.25rem;
}

.row-gap-2 {
  row-gap: 0.5rem;
}

.row-gap-3 {
  row-gap: 1rem;
}

.row-gap-4 {
  row-gap: 1.5rem;
}

.row-gap-5 {
  row-gap: 3rem;
}

.column-gap-0 {
  column-gap: 0;
}

.column-gap-1 {
  column-gap: 0.25rem;
}

.column-gap-2 {
  column-gap: 0.5rem;
}

.column-gap-3 {
  column-gap: 1rem;
}

.column-gap-4 {
  column-gap: 1.5rem;
}

.column-gap-5 {
  column-gap: 3rem;
}
