$font-family: 'Nunito' !default;
$font-family-title: 'Nunito' !default;
$font-size: 16px !default;
$font-size-mobile: 14px !default;

$border-radius: 0.5rem !default;


$primary: #2b97b5 !default;
$accent: #ff9b70 !default;
$secondary: #6aaa4b !default;
$success: #75e5a9 !default;
$error: #fc8172 !default;
$warning: #ffbc1f !default;
$info: #9985c0 !default;
$bg-color: #e7ecee !default;
$body-bg: #cccccc !default;
$disabled: #c4c4c4 !default;
$change-percent: 8% !default;
$border-color: #c4c4c4 !default;
$text: #273f49 !default;
$title: #273f49 !default;
$shadow-color: rgba(0, 0, 0, 0.1) !default;
$widget-bg-color: #ffffff !default;
$input-bg: $bg-color !default;
$white: #ffffff !default;
$dark: #000000 !default;

$primary-dark: #3783b4 !default;
$secondary-dark: #ffbd93 !default;
$accent-dark: #d73eb4 !default;
$success-dark: #1aab72 !default;
$error-dark: #d25454 !default;
$warning-dark: #f6b842 !default;
$info-dark: #7166de !default;
$white-dark: #000000 !default;
$dark-dark: #ffffff !default;
$bg-color-dark: #212529 !default;
$body-bg-dark: #212529 !default;
$disabled-dark: #c4c4c4 !default;
$change-percent-dark: 5% !default;
$input-bg-dark: darken($bg-color-dark, 5%) !default;
$border-color-dark: #c4c4c4 !default;
$text-dark: rgba(255, 255, 255, 0.87) !default;
$title-dark: rgba(255, 255, 255, 0.87) !default;
$shadow-color-dark: rgba(0, 0, 0, 0.4) !default;
$widget-bg-color-dark: lighten($bg-color-dark, $change-percent-dark) !default;


$color1: rgb(120, 185, 235) !default;
$color2: rgb(255, 159, 0) !default;
$color3: rgb(112, 218, 64) !default;
$color4: rgb(255, 108, 108) !default;
$color5: rgb(164, 82, 206) !default;
$color6: rgb(186, 186, 224) !default;
