@import "../variables";

$darken: 30%;


$baseColors: $color1, $color2, $color3, $color4, $color5, $color6;
:root {

  @for $c from 1 through 6 {
    $color: darken(nth($baseColors, $c), $darken);
    --color#{$c}: #{$color};
    @for $i from 1 through 10 {

      --color#{$c}-#{$i * 100}: #{lighten($color, $i * 5)};
    }

  }
}


